<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>La Cueva</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">

</head>

<body>
    <!-- Start Main Top -->
    <header class="main-header">
        
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="{% url 'Inicio' %}"><img src="{% static 'img/logo.png' %}" class="logo" alt=""></a>
                </div>
             
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                            
                        <li class="nav-item {% if request.path == '/' %} active {% endif %}"><a class="nav-link" href="{% url 'Inicio' %}">Inicio</a></li> 
                        </li>
                        <li class="dropdown {% if request.path == '/catalogo' %} active {% endif %}">
                            <a href="{% url 'Catalogo' %}" class="nav-link dropdown-toggle" data-toggle="dropdown">Tienda</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'Inicio' %}">Botellas</a></li>
                                <li><a href="{% url 'Inicio' %}">Latas</a></li>
                                <li><a href="{% url 'Inicio' %}">Combos</a></li>
                                <li><a href="{% url 'Inicio' %}">Accesorios</a></li>
                                <li><a href="{% url 'Inicio' %}">Destapador</a></li>
                            </ul>
                        </li>
                        <li class="nav-item {% if request.path == '/servicio' %} active {% endif %}"><a class="nav-link" href="{% url 'Inicio' %}">Servicios</a></li>
                        <li class="nav-item {% if request.path == '/contacto' %} active {% endif %}"><a class="nav-link" href="{% url 'Inicio' %}">Contactanos</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="{% url 'Buscar' %}"><i class="fa fa-search"></i></a></li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'Carro:Carrito' %}"><i class="fa fa-shopping-cart fa-fw fa-lg"></i>{{num_items}}</a>
                        {% endif %}
					</a></li>
                    </ul>
                </div>
  
        <!-- End Navigation -->
    </header>
  
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Buscar">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    {% block Slider %}
    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static 'img/banner-01.jpg' %}" alt="">
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong> Distribuidores <br> La Cueva</strong></h1>
                                <p class="m-b-40">Mejores sabores y colores <br></p>
                                <p><a class="btn hvr-hover" href="#">Servicios</a></p>
                            </div>
                        </div>
                    </div>
            </li>
            <li class="text-center">
                <img src="{% static 'img/banner-02.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Distribuidores<br>La Cueva</strong></h1>
                            <p class="m-b-40">Desde la mas minima a la maxima calidad en nuestros productos <br></p>
                            <p><a class="btn hvr-hover" href="#">Servicios</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'img/banner-03.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Distribuidores<br>La Cueva</strong></h1>
                            <p class="m-b-40">Cosechado en las mejores huertas</p>
                            <p><a class="btn hvr-hover" href="#">Contactanos</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->
    {% endblock %}
    
    
    {% block Destacados %}
    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'img/Cerveza1.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'Catalogo' %}">Producto1</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'img/Cerveza2.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'Catalogo' %}">Producto2</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'img/Cerveza3.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'Catalogo' %}">Producto3</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'img/Cerveza4.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'Catalogo' %}">Producto4</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'img/Cerveza5.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'Catalogo' %}">Producto5</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'img/Cerveza6.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'Catalogo' %}">Producto6</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock  %}
    
    <div class="footer-copyright">
        <p class="footer-company">
        </div>
        <!-- Start Footer  -->
        <footer>
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-widget">
                                <h4>Sobre La Cueva</h4>
                                
                                <p>Es importante cuidar al paciente, ser seguido por el cliente, pero al mismo tiempo se verá afectado por unos dolores y sufrimientos muy grandes. Porque para llegar al más mínimo detalle, nadie debe practicar ningún tipo de trabajo a menos que obtenga algún beneficio de él.
                                </p>
                                
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12" style="padding-left: 0px;">
                        <div class="footer-link-contact">
                            <h4>Contacta con nosotros</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Direccion: Chacabuco 2000. Buenos Aires, Argentina</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Tel: <a href="tel:+1-888705770">0341 - 153761060</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">lacueva@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/inewsticker.js' %}"></script>
    <script src="{% static 'js/bootsnav.js.' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>