{% extends 'base.html' %}
{% load static %}

{% block Slider %}

    <form action="" method="POST">{% csrf_token %}
        
        {% if messages %}
        {% for mensaje in messages %}
            <span class="alert alert-{{mensaje.tags}}">{{mensaje}}</span>
        {% endfor %}
        {% endif %}
        
        {{form.as_p}}

        <button type="submit">Iniciar Sesión</button>

    </form>

    <p>Aun no te registraste?</p><a href="{% url 'Registro' %}">Click aqui</a>
    
{% endblock  %}