{% extends 'base.html' %} {% load static %} {% block Slider %}

<div style="text-align: center">
  <h1 style="font-weight: bold">Hola! Un gusto conocerte</h1>

  <form action="" method="POST">
    {% csrf_token %} {% for field in form %}
    <div class="fieldWrapper">
      {{ field.errors }} {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}

    <button type="submit">Registrate</button>
  </form>

  <p>Ya tienes una cuenta?</p>
  <a href="{% url 'Login' %}">Click aqui</a>
</div>

{% endblock %} {% block Destacados %} {% endblock Destacados %}
